/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Displa', serif;
	font-size: 16 px;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/
header{
	padding: 20px 0;
	/*border: 1px solid red;*/
}
.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.logo{
	margin: 0 auto;
	float: left;
	width: 13%;
	/*border: 1px solid;*/
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 70%;
	/*border: 1px solid;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 50px;
	padding: 5px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header end*/






































































































































































































































}
.menu ul li a:hover{}